<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../../assets/3b.ico" />
    <title>Productos | Tresbe Distribuidora</title>
  </head>
  <body>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
      />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
      type="text/css"
      />
    <app-nav-bar></app-nav-bar>
    <app-poster-info></app-poster-info>
    @if (!loading && productsArray.length == 0) {
      <app-no-products
      ></app-no-products>
    }
    @if (loading) {
      <app-loading></app-loading>
    }
    @if (!loading) {
      <div id="container">
        <!--<img src="../../" alt="">!-->
        @for (product of productsArray; track product) {
          <div
            id="product_item"
            routerLink="/products/{{ product.id }}"
            >
            <img src="{{ product.image }}" alt="" />
            <div id="dataContainer">
              <h2>{{ product.name }}</h2>
              <p id="categoryP">{{ product.category }}</p>
              <div id="prices">
                <p id="price" [ngClass]="{ priceTacched: product.discount > 0 }">
                  {{ product.price | currency : "" : "symbol" : "1.2-2" }}
                </p>
                @if (product.discount != 0) {
                  <p id="discounted">
                    ${{ formatNumber(product.priceDiscount) }}
                  </p>
                }
              </div>
            </div>
            <div id="containerButtons">
              @if (!isAdmin()) {
                <button
                  routerLink="/products/{{ product.id }}"
                  class="buttonProducts fa fa-credit-card"
                  >
                  <span
              style="
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 0.5vh;
              "
                    >COMPRAR</span
                    >
                  </button>
                }
                @if (isAdmin()) {
                  <button
                    (click)="goToModify(product.id)"
                    class="buttonProducts fa fa-pencil-square-o"
                    >
                    <span
              style="
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 0.5vh;
              "
                      >MODIFICAR</span
                      >
                    </button>
                  }
                  @if (!isAdmin()) {
                    <button
                      routerLink="/products/{{ product.id }}"
                      id="watch"
                      class="buttonProducts fa fa-eye"
                      >
                      <span
              style="
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 0.5vh;
              "
                        >VER</span
                        >
                      </button>
                    }
                    @if (isAdmin()) {
                      <button
                        routerLink="/products"
                        id="delete"
                        class="buttonProducts fa fa-eye"
                        (click)="deleteProduct(product.id)"
                        >
                        <span
              style="
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 0.5vh;
              "
                          >ELIMINAR</span
                          >
                        </button>
                      }
                    </div>
                  </div>
                }
                @if (isAdmin() && !loading) {
                  <div
                    id="addProduct"
                    class="admin"
                    [routerLink]="['/add/product']"
                    >
                    <p class="fa fa-plus-circle"></p>
                  </div>
                }
                @if (isAdmin() && !loading) {
                  <div
                    id="setDiscounts"
                    class="admin"
                    [routerLink]="['/products/set/discounts']"
                    >
                    <p><i class="fa fa-angle-double-down fa-5x" aria-hidden="true"></i></p>
                    <p>Agregar Descuentos</p>
                  </div>
                }
              </div>
            }
            @if (productsArray.length > 0) {
              <div class="pagination-controls">
                <button
                  (click)="previousPage()"
                  class="pagButton"
                  [disabled]="currentPage === 1"
                  style="background-color: #4d7e98"
                  >
                  Anterior
                </button>
                @if (productsArray.length > 0) {
                  <p
                    style="text-align: center; font-family: Arial, Helvetica, sans-serif"
                    >
                    {{ currentPage }} - {{ totalPages }}
                  </p>
                }
                <button
                  (click)="nextPage()"
                  class="pagButton"
                  [disabled]="currentPage == totalPages"
                  style="background-color: #a4bb43"
                  >
                  Siguiente
                </button>
              </div>
            }
            <app-footer></app-footer>
          </body>
        </html>
