@if (selectedOrder.code != '') {
  <main class="profile">
    @if (isAdmin()) {
      <p>Estas viendo una orden del usuario: {{selectedOrder.username}}</p>
    }
    <section class="profile-header">
      <div class="profile-info">
        <h1>#{{selectedOrder.code}}</h1>
        <p>{{getDates(selectedOrder.orderDate)}}</p>
        <p>$ {{formatNumber(selectedOrder.total)}}</p>
        @if (!(selectedOrder.payed) && !(user.client) && !isAdmin()) {
          <p>Transferencia pendiente</p>
        }
        @if (selectedOrder.description != '') {
          <p>{{selectedOrder.description}}</p>
        }
      </div>
    </section>
    <section class="personal-info">
      <h2>Información de la orden</h2>
      @for (product of selectedProducts; track product) {
        <div class="info-row">
          <span>{{product.name}} {{product.optionSelected}}</span>
          <span>x{{product.quantity}}</span>
        </div>
      }
    </section>
    <section class="address-info">
      <h2>Dirección de envio</h2>
      <div class="info-row">
        <span>País</span>
        <span>{{userdata.country}}</span>
      </div>
      <div class="info-row">
        <span>Provincia</span>
        <span>{{userdata.province}}</span>
      </div>
      <div class="info-row">
        <span>Ciudad/Estado</span>
        <span>{{userdata.city}}</span>
      </div>
      <div class="info-row">
        <span>Calle</span>
        <span>{{userdata.street}} {{userdata.streetNumb}}</span>
      </div>
      <div class="info-row">
        <span>Orden Registrada</span>
        @if (selectedOrder.attended) {
          <span>Si</span>
        }
        @if (!selectedOrder.attended) {
          <span>No</span>
        }
      </div>
      <div class="info-row">
        <span>Orden Pagada</span>
        @if (selectedOrder.payed) {
          <span>Si</span>
        }
        @if (!selectedOrder.payed) {
          <span>No</span>
        }
      </div>
    </section>
    <div id="buttonsUser">
      @if (!isAdmin() && selectedOrder.attended) {
        <button style="cursor: auto;">Tu orden ya fue registrada!</button>
      }
      @if (isAdmin()) {
        <button id="deleteButton" (click)="deleteUserOrder(selectedOrder.code)">Eliminar</button>
      }
      @if (isAdmin() && !selectedOrder.attended) {
        <button (click)="confirmAttend('attend')" id="registerOrder">Orden Registrada</button>
      }
      @if (isAdmin() && selectedOrder.attended) {
        <button id="noRegisterButton" (click)="confirmAttend('unattend')">No está registrada</button>
      }
      @if (isAdmin() && selectedOrder.attended && !selectedOrder.payed) {
        <button id="payedButton" (click)="confirmPayment('payed')">Orden Pagada</button>
      }
      @if (isAdmin() && selectedOrder.attended && selectedOrder.payed) {
        <button id="notPayedButton" (click)="confirmPayment('notPayed')">No está pagada</button>
      }
      @if (isAdmin()) {
        <button id="mofifyButton" routerLink="/modify/order/{{selectedOrder.id}}">Modificar</button>
      }
      <!--<button *ngIf="!(user.client) && !(selectedOrder.payed) && !isAdmin()">Ya hice la transferencia</button>!-->
    </div>
  </main>
}
@if (selectedOrder.code == '') {
  <div id="containerNoOrders">
    <div id="noOrders">
      <i class="fa fa-exclamation-circle fa-5x" aria-hidden="true"></i>
      <p>En este apartado vas a encontrar el detalle de la orden que selecciones</p>
      <div id="select">
        <p>Seleccioná una orden </p>
        <i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
}
