<div id="container">
  <div id="items">
    <app-options-user></app-options-user>
    <div class="itemsDiv">
      @if (displayed == 'shipment') {
        <app-shipment-data id="shipment"></app-shipment-data>
      }
      @if (displayed == 'support') {
        <app-tech-support id="support"></app-tech-support>
      }
      @if (displayed == 'myAccount') {
        <app-my-account></app-my-account>
      }
      @if (displayed == 'myOrders') {
        <app-my-boughts></app-my-boughts>
      }
      @if (displayed == 'privacity') {
        <app-not-available></app-not-available>
      }
      @if (displayed == 'coupon') {
        <app-search-coupon></app-search-coupon>
      }
      <!--<div id="privacityDiv">
      <app-privacity *ngIf="displayed == 'privacity'"></app-privacity>
      <app-change-details *ngIf="displayed == 'privacity'"></app-change-details>
    </div> !-->
    @if (displayed == 'adminSupport' && isAdmin()) {
      <app-admin-support></app-admin-support>
    }
    @if (displayed == 'myOrders' || displayed == 'myAccount' || displayed == 'adminSupport' || displayed == 'coupon') {
      <app-orders-info-completed></app-orders-info-completed>
    }
  </div>
</div>
</div>