<div id="container">
  @if (!isAdmin()) {
    <h1>ULTIMAS COMPRAS</h1>
  }
  @if (isAdmin()) {
    <h1>PEDIDOS</h1>
  }
  @if (isAdmin()) {
    <div id="formAux">
      <label for="sellers">Vendedor</label>
      <select name="seller" class="sellerInfo" [(ngModel)]="seller" id="sellerSelect" (change)="changeSeller($event)">
        @for (sellerAux of sellers; track sellerAux) {
          <option [value]="sellerAux" >{{sellerAux}}</option>
        }
      </select>
    </div>
  }
  <div id="form">
    <label for="search">Buscá la orden que desees</label>
    <input type="text" name="search" id="searchInp" placeholder="Código de orden">
    <button (click)="searchOrder()">Buscar</button>
  </div>
  @for (oap of ordersAndProducts; track oap) {
    <div class="items" (click)="changeDisplay('myOrders', oap.order.id)">
      <div id="dateCode" class="itemsChild">
        <p>#{{oap.order.code}}</p>
        @if (isAdmin()) {
          <p>{{oap.order.username}}</p>
        }
        <p>{{getDates(oap.order.orderDate)}}</p>
      </div>
      <div class="itemsChild">
        @for (product of oap.products | slice:0:2; track product) {
          <div class="products">
            <p>{{product.name.toLowerCase()}} {{product.optionSelected}} x{{product.quantity}}</p>
          </div>
        }
      </div>
      @if (oap.products.length > 2) {
        <p>Ver todos los productos</p>
      }
      <p>PRECIO TOTAL: ${{oap.order.total.toLocaleString()}}</p>
    </div>
  }
  @if (ordersAndProducts.length == 0) {
    <div id="noOrders">
      <i class="fa fa-shopping-cart fa-5x" aria-hidden="true"></i>
      <p>No tenes ninguna compra realizada hasta el momento</p>
    </div>
  }
</div>