<div id="align">
  <div id="selectBy" class="containers">
    <label for="changeButton"
      >Seleccione una opción para actualizar los precios</label
      >
      <button
        (click)="selectByBrand()"
        class="changeBy"
        id="byBrand"
        [ngClass]="{ active: onBrand }"
        >
        Por marca
      </button>
      <button
        (click)="selectByCategory()"
        class="changeBy"
        id="byCategory"
        [ngClass]="{ active: onCategory }"
        >
        Por categoría
      </button>
    </div>
    <div id="container" class="containers">
      <div id="form">
        <label for="percentage"
          >Ingrese el porcentaje de cambio (0.05, 0.1, etc.)</label
          >
          <br />
          <input type="number" name="percentage" id="discountInp" />
        </div>

        @if (onBrand && !onCategory) {
          <div id="brandSelection">
            <label for="percentage"
              >Seleccione la marca a la que va a aplicar un cambio de precio</label
              >
              <br />
              <select name="brand" id="brandSelect" (change)="selectBrand($event)">
                @for (brand of brands; track brand) {
                  <option value="{{ brand.name }}">
                    {{ brand.name }}
                  </option>
                }
              </select>
            </div>
          }

          @if (onCategory && !onBrand) {
            <div id="categorySelection">
              <label for="percentageCategory"
                >Seleccione la categoria a la que va a aplicar un cambio de
                precio</label
                >
                <br />
                <select
                  name="category"
                  id="categorySelect"
                  (change)="selectCategory($event)"
                  >
                  @for (category of categories; track category) {
                    <option [value]="category.name">
                      {{ category.name }}
                    </option>
                  }
                </select>
              </div>
            }

            <div id="buttons">
              <button id="increase" class="changePrice" (click)="setDiscount()">
                Agregar Descuento
              </button>
              <button id="decrease" class="changePrice" (click)="deleteDiscounts()">
                Eliminar Descuento
              </button>
            </div>
          </div>
          <div id="messages">
            @if (progress > 0) {
              <p>
                @if (progress < 100) {
                  <i
                    class="fa fa-spinner"
                    id="spinner"
                    aria-hidden="true"
                  ></i>
                }
                Cambiando Precios | {{ progress.toFixed(1) }}%
              </p>
            }
          </div>
        </div>
