<body>
  <div id="container">
    <div id="info">
      <h2>CUPONES DE DESCUENTO</h2>
      @if (modified) {
        <p>Cupon modificado</p>
      }
    </div>
    <div id="form">
      <label for="couponName">Ingrese el codigo del cupon</label>
      <input type="text" name="couponName" [value]="modify ? getValue('code'): ''" [disabled]="modify && !modificate" id="couponNameInp">

      <label for="couponPrice">Ingrese el precio de descuento del cupon</label>
      <input type="number" name="couponPrice" [value]="modify ? getValue('price') : ''" [disabled]="modify && !modificate" id="couponPriceInp">

      <label for="couponMin">Ingrese el minimo de compra del cupon</label>
      <input type="text" name="couponMin" [value]="modify ? getValue('minimum') : ''" [disabled]="modify && !modificate" id="couponMinInp">

      <label for="couponExp">Ingrese la fecha de expiración del cupon (DD/MM/AAAA)</label>
      <input type="date" name="couponExp" [value]="modify ? getValue('expires') : ''" [disabled]="modify && !modificate" id="couponExpInp">
    </div>
    <div id="buttons">
      @if (!modify) {
        <button (click)="createCoupon()">Crear</button>
      }
      @if (modify && !modificate) {
        <button (click)="modificate = true">Modificar</button>
      }
      @if (modify && modificate) {
        <button (click)="modifyCoupon()">Guardar</button>
      }
      @if (modify) {
        <button (click)="deleteCoupon()" [routerLink]="['/user']">Eliminar</button>
      }
    </div>
    <div id="messages">
      @if (saved) {
        <p>Cupon creado con éxito</p>
      }
    </div>
  </div>
</body>