<div id="container">
  <div id="searchbar">
    <p>Buscar usuario por ID</p>
    <br>
      <input type="text" name="user" id="userInp" (input)="searchUserInput()" [(ngModel)]="searchTerm">
      <button>Buscar Usuario</button>
    </div>

    @if (users.length > 0) {
      <div id="users">
        @for (userAux1 of users; track userAux1) {
          <div>
            <p (click)="searchUserClick(userAux1.username)">{{userAux1.username}}</p>
          </div>
        }
      </div>
    }

    <app-user-account></app-user-account>
  </div>